@page "/Assignees/{Organization}/{Name}"
@inject IConfiguration Configuration

<h3>Assignees</h3>

<RadzenDropDown @bind-Value="_currentMilestones" Data="@Milestones" Change="@MilestoneChanged" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Placeholder="Milestone..."/>

<RadzenDropDown @bind-Value="_currentAreas" Data="@Areas" Change="@AreaChanged" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Placeholder="Area..."/>

<RadzenChart Style="">
    <RadzenPieSeries Data="@Counts" Title="Count by Assignee" CategoryProperty="Login" ValueProperty="Count" />
    <RadzenLegend Position="@LegendPosition.Bottom" />
</RadzenChart>

<p>Found @Counts?.Sum(a => a.Count) issues.</p>
